.card{
    background-color: #da9286 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* 
Desert-y color 
cream #f5eedc
pinkoragecreamsahde #f5e4d4
peach #eebda5
gold #c8974e
burgandyish #a76254

Headings font-family: 'Francois One', sans-serif;
My Name font-family: 'Kaushan Script', cursive;
Body font-family: 'Roboto Condensed', sans-serif;
*/