#homeCard{
    background-color: white;
    border: none; 
    color: #dd9a78; 
    height: 500px
}

/* Eventually use for typing out web devloper and make responsive */
/* .type p{
    overflow: hidden; 
    background-color: white;
    border-right: .1em solid black; 
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    animation: 
    typing 3.5s steps(40, end), 
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0}
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

#intro{
    margin-top: 20px !important;
    text-align: center;
    font-size: 15px !important;
} */

#homeContent{
    margin-top: 100px;
    margin-bottom: auto;
}