.navbar {
  min-height: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #080604 !important;
}

a:hover {
  color: #a76254 !important;
  border-bottom: #a76254 0.125em solid;
}

a.active-link {
  border-bottom: 3px solid #a76254;
}