.navbar {
  min-height: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #080604 !important;
}

a:hover {
  color: #d17b5f !important;
  font-size: larger;
  border-bottom: #d17b5f 0.125em solid;
}

a:active {
  border-bottom: 0.125em solid #d17b5f !important;
}