#projectimg {
   max-height: 250px;
}

#pgcontent {
   margin-left: auto !important;
   margin-right: auto !important;
}

#portfolioCard {
   border: none;
   color: white;
   font-family: 'Roboto Condensed', sans-serif;
   text-align: center;
   width: 450px;
   background-color: #d17b5f;
}

#description{
   height: 50px; 
}

#url{
   margin-top: 10px;
   margin-bottom: 1px;
}