.form-control{
    background-color: #eccbc2 !important;
  }

  #contact{
    background-color: #dd9a78 !important;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 110%;
    border: none; 
  }

  #contactBtn{
    font-size: 110%;
  }

  